/* Estilos generales */
/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/static/css/Imagen/fondo.jpg');
    background-size: cover;
    background-position: auto;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

/* Estilos para elementos de navegación */
.navbar {
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.navbar a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    margin: 0 5px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Estilos para botones */
button, .button, .btn-login, input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border:  #215f00;
    text-decoration: none;
    background: #215f00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #88e410, #215f00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #88e410, #215f00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.button1 {
    background: #3CA55C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B5AC49, #3CA55C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B5AC49, #3CA55C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 26px;
    padding: 50px 40px;
    text-align: center;
    cursor: pointer;
}

.button1:hover {
    background-color: #45a049;
}
button:hover, .button:hover, .btn-login:hover, input[type="submit"]:hover {
    background-color: #0f7e00;
}

/* Estilos para contenedores */
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 40px;
    border: 2px solid #002700;
    border-radius: 10px;
    background: #dce35b; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dce35b, #45b649); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dce35b, #45b649);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.container h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}
.content_exp {
    display: grid;
    grid-template-columns: auto(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    justify-content: center;
}
.container p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #666;
}

/* Estilos para formularios */
.container input[type="text"],
.container input[type="password"] {
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 18px;
}

.container input[type="submit"] {
    background-color: #00c020;
    color: #fff;
    transition: background-color 0.3s ease;
}

.container input[type="submit"]:hover {
    background-color: #3dc200;
}

/* Estilos para mensajes */
.error-message, .success-message {
    font-size: 14px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
}

.error-message {
    color: #d9534f;
    background-color: #f2dede;
}

.success-message {
    color: #5cb85c;
    background-color: #dff0d8;
}

/* Estilos para los inputs */
input:required {
    border-color: #ff9999;
}

input:focus {
    outline: none;
    border-color: #000000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: #999;
}

input[type="text"],
input[type="number"],
input[type="submit"],
.add-button {
    width: 150px;
    padding: 8px 12px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
}

input[type="submit"]:hover,
.add-button:hover {
    background-color: #45a049;
}

/* Estilos generales */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.container * {
    animation: fadeIn 0.5s ease-in-out;
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s;
}

th {
    background-color: #333;
    color: #ffffff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #e6e6e6;
}

/* Estilos para el contenido */
.content {
    text-align: center;
    margin-top: 50px;
    color: #0a2400;
}

h1, h2, strong {
    color: #000000;
}

h1 {
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    font-size: 1.25em;
    margin-bottom: 10px;
}

strong {
    color: #000000;
}

/* Estilos para el contenedor */
.container1 {
    max-width: 600px;
    margin: 50px auto;
    padding: 40px;
    border: 2px solid #57f442;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container1 h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.container1 .form-group {
    text-align: left;
    margin-bottom: 20px;
}

.container1 label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.container1 input[type="text"],
.container1 input[type="number"],
.container1 input[type="date"],
.container1 input[type="time"],
.container1 select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
}

.container1 input[type="submit"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: #4285f4;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.container1 input[type="submit"]:hover {
    background-color: #3367d6;
}
