/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('/static/css/Imagen/fondo.jpg');
    background-size: cover;
    filter: blur(2px);
    opacity: .7;
}

/* Estilos para elementos de navegación */
.navbar {
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.navbar a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    margin: 0 5px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Estilos para botones */
.button, .btn-login, input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button1 {
    background: linear-gradient(to right, #B5AC49, #3CA55C);
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 26px;
    padding: 50px 40px;
    text-align: center;
    cursor: pointer;
}
.btn-login {
    margin-top: 20px;
    font-size: 16px;
}


.button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #047e04;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.button:hover {
    background-color: #0056b3;
}
input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 10px;
    border: 2px solid black;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    color: blue;
}

input[type="checkbox"]:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#observaciones, textarea {
    width: 100%;
    box-sizing: border-box;
    resize: none;
}

.tabla-responsiva {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
}

/* Estilos para los labels */
label {
    display: inline-block;
    margin-bottom: 5px;
}

/* Estilos para contenedores */
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 40px;
    border: 2px solid #002700;
    border-radius: 10px;
    background: linear-gradient(to right, #dce35b, #45b649);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.container h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}

.content_exp {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    justify-content: center;
}

.container p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #666;
}

/* Estilos para formularios */
.container input[type="text"],
.container input[type="password"] {
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 18px;
}

.container input[type="submit"] {
    background-color: #00c020;
    color: #fff;
}
/* Estilos para los botones */
.container input[type="submit"]:hover,
.add-button:hover {
    background-color: #45a049;
}

.container input[type="submit"]:hover {
    background-color: #3dc200;
}

/* Estilos para mensajes */
.error-message, .success-message {
    font-size: 14px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
}

.error-message {
    color: #d9534f;
    background-color: #f2dede;
}

.success-message {
    color: #5cb85c;
    background-color: #dff0d8;
}

/* Estilos para los inputs */
input:required {
    border-color: #ff9999;
}

input:focus {
    outline: none;
    border-color: #000000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: #999;
}

input[type="text"],
input[type="number"],
.add-button {
    width: 150px;
    padding: 8px 12px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
}

/* Estilos generales */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.container * {
    animation: fadeIn 0.5s ease-in-out;
}

/* Estilos para la tabla */
table {
    width: 90%;
    margin: 0 auto;
    border: 2px solid #000000;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    opacity: 1;
    animation: fadeIn 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s;
}

th {
    background-color: #333;
    color: #ffffff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #e6e6e6;
}

/* Estilos para el contenido */
.content {
    text-align: center;
    margin-top: 50px;
    color: #0a2400;
}

h1, h2, strong {
    color: #000000;
}

h1 {
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    font-size: 1.25em;
    margin-bottom: 10px;
}
.cita-agendada {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.cita-agendada p {
    margin: 5px 0;
}

strong {
    color: #000000;
}

/* Estilos para el contenedor */
.container1 {
    max-width: 600px;
    margin: 50px auto;
    padding: 40px;
    border: 2px solid #57f442;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Estilos para el título */
.container1 h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

/* Estilos para los grupos de formularios */
.container1 .form-group {
    text-align: left;
    margin-bottom: 20px;
}

/* Estilos para las etiquetas de los campos */
.container1 label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

/* Estilos para los campos de entrada */
.container1 input[type="text"],
.container1 input[type="number"],
.container1 input[type="date"],
.container1 input[type="time"],
.container1 input[type="tel"],
.container1 input[type="number,2"],


.container1 select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
}

/* Estilos para el botón de envío del formulario */
.container1 input[type="submit"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: #36d633;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.container1 input[type="submit"]:hover {
    background-color: #36d633;
}

/* Estilos para el contenedor de filtros */
.filter-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;


}

/* Estilos para el formulario de filtro */
.filter-form {
    display: flex;
    align-items: center;
    margin-right: 20px;

}

.filter-form label {
    margin-right: 10px;
    color: #555;
    font-weight: bold;

}

.filter-form input[type="text"],
.filter-form input[type="submit"] {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 10px;

}

.filter-form input[type="submit"] {
    background-color: #36d633;
    color: #fff;
    border: none;
    cursor: pointer;

}

.filter-form input[type="submit"]:hover {
    background-color: #36d633;
    
}
.container1 select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.container1 select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.6);
}

.container1 select::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #555;
}

/* Estilo para opciones del cuadro desplegable */
.container1 select option {
    padding: 10px;
    background-color: #fff;
    color: #333;
    border-bottom: 1px solid #ccc;
}

.container1 select option:hover {
    background-color: #f0f0f0;
}
