<!DOCTYPE html>
<html>
<head>
   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="static/css/Imagen/_44109a07-adb5-4db9-90c0-8bac1621533a-removebg-preview.png">
    <title>Detalles del Paciente</title>
    <style>
        /* Agrega estilos CSS aquí para mejorar el diseño */
       
        .section {
            border: 1px solid #ddd;
            padding: 15px;
            margin-bottom: 20px;
            border-radius: 5px;
        }
        .print-button {
            display: block;
            width: 200px;
            margin: 20px auto;
            padding: 10px;
            text-align: center;
            background-color: #4CAF50;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            cursor: pointer;
        }
        @media print {
            body * {
                visibility: hidden;
            }

            .detalles_paciente, .detalles_paciente * {
                visibility: visible;
            }

            .detalles_paciente {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                margin: 0;
                padding: 0;
                border: none;
            }

            .print-button {
                display: none;
            }}
    </style>
</head>
<body>
    <div class="navbar">
        <a href="/">Inicio</a>
        <a href="/registro">Registro</a>
        <a href="/consultar">Registro de consultas</a>
        <a href="/agenda">Calendario</a>
        <a href="/agendar_cita">Agendar Cita</a>
        <a href="/historial_citas">Historial de Citas</a>
        <a href="/directorio_pacientes">Directorio Pacientes</a>
        <a href="/expediente">Expediente</a>
    </div>
</body>
<body>
    <div class="detalles_paciente">
        <h1>Detalles del Paciente</h1>
        {% if paciente %}
        
        <!-- Información Personal -->
        <div class="section">
            <h2>Información Personal</h2>
            <div class="info-group">
                <label>ID:</label> <span>{{ paciente.id_paciente }}</span>
            </div>
            <div class="info-group">
                <label>Nombre:</label> <span>{{ paciente.nombres }} {{ paciente.primer_apellido }} {{ paciente.segundo_apellido }}</span>
            </div>
            <div class="info-group">
                <label>Sexo:</label> <span>{{ paciente.genero }}</span>
            </div>
            <div class="info-group">
                <label>Religión:</label> <span>{{ paciente.religion }}</span>
            </div>
            <div class="info-group">
                <label>Ocupación:</label> <span>{{ paciente.ocupacion }}</span>
            </div>
            <div class="info-group">
                <label>Teléfono:</label> <span>{{ paciente.celular }}</span>
            </div>
            <div class="info-group">
                <label>Fecha/Lugar de Nacimiento:</label> <span>{{ paciente.fecha_nacimiento }}</span>
            </div>
            <div class="info-group">
                <label>Escolaridad:</label> <span>{{ paciente.escolaridad }}</span>
            </div>
            <div class="info-group">
                <label>Estado Civil:</label> <span>{{ paciente.estado_civil }}</span>
            </div>
            <div class="info-group">
                <label>Servicio de Salud:</label> <span>{{ paciente.servicio_salud }}</span>
            </div>
            <div class="info-group">
                <label>Turno:</label> <span>{{ paciente.turno }}</span>
            </div>
            <div class="info-group">
                <label>Peso:</label> <span>{{ paciente.peso }} kg</span>
            </div>
            <div class="info-group">
                <label>Altura:</label> <span>{{ paciente.altura }} cm</span>
            </div>
            <div class="info-group">
                <label>IMC:</label> <span>{{  '%.2f' %paciente.imc }}</span>
            </div>
            <div class="info-group">
                <label>Fecha de Registro:</label> <span>{{ paciente.fecha_registro }}</span>
            </div>
            <div class="info-group">
                <label>Registrado por:</label> <span>{{ paciente.registrado_por }}</span>
            </div>
        </div>
        
        <!-- Antecedentes Familiares -->
        <div class="section">
            <h2>Antecedentes Familiares</h2>
            {% if antecedentes_familiares %}
            <table class="info-table">
                <tr>
                    <td><strong>Diabetes Mellitus:</strong></td>
                    <td>{{ antecedentes_familiares.diabetes_mellitus_familiar }}</td>
                </tr>
                <tr>
                    <td><strong>Dislipidemias:</strong></td>
                    <td>{{ antecedentes_familiares.dislipidemias_familiar }}</td>
                </tr>
                <tr>
                    <td><strong>Sobrepeso/Obesidad:</strong></td>
                    <td>{{ antecedentes_familiares.sobrepeso_obesidad_familiar }}</td>
                </tr>
                <tr>
                    <td><strong>Cáncer:</strong></td>
                    <td>{{ antecedentes_familiares.cancer_tipo_familiar }}</td>
                </tr>
                <tr>
                    <td><strong>Hipertensión:</strong></td>
                    <td>{{ antecedentes_familiares.hipertension_familiar }}</td>
                </tr>
                <tr>
                    <td><strong>Cardiopatías:</strong></td>
                    <td>{{ antecedentes_familiares.cardiopatias_familiar }}</td>
                </tr>
                <tr>
                    <td><strong>Litiasis:</strong></td>
                    <td>{{ antecedentes_familiares.litiasis_familiar }}</td>
                </tr>
                <tr>
                    <td><strong>Artritis:</strong></td>
                    <td>{{ antecedentes_familiares.artritis_familiar }}</td>
                </tr>
                <tr>
                    <td><strong>Asma:</strong></td>
                    <td>{{ antecedentes_familiares.asma_familiar }}</td>
                </tr>
                <tr>
                    <td><strong>Otras:</strong></td>
                    <td>{{ antecedentes_familiares.otras }}</td>
                </tr>
            </table>
            {% else %}
                <p>No hay datos de antecedentes familiares.</p>
            {% endif %}
        </div>

        <!-- Antecedentes Personales -->
        <div class="section">
            <h2>Antecedentes Personales</h2>
            {% if antecedentes_personales_nutricion %}
            <table class="info-table">
                <tr>
                    <td><strong>Padecimiento Actual:</strong></td>
                    <td>{{ antecedentes_personales_nutricion.padecimiento_actual }}</td>
                </tr>
                <tr>
                    <td><strong>Medicamento:</strong></td>
                    <td>{{ antecedentes_personales_nutricion.medicamento }}</td>
                </tr>
                <tr>
                    <td><strong>Discapacidad:</strong></td>
                    <td>{{ antecedentes_personales_nutricion.discapacidad }}</td>
                </tr>
                <tr>
                    <td><strong>Cirugía:</strong></td>
                    <td>{{ antecedentes_personales_nutricion.cirugia }}</td>
                </tr>
                <tr>
                    <td><strong>Alergias:</strong></td>
                    <td>{{ antecedentes_personales_nutricion.alergias }}</td>
                </tr>
                <tr>
                    <td><strong>Consumo de Alcohol:</strong></td>
                    <td>{{ antecedentes_personales_nutricion.consumo_alcohol }}</td>
                </tr>
                <tr>
                    <td><strong>Tabaco:</strong></td>
                    <td>{{ antecedentes_personales_nutricion.tabaco }}</td>
                </tr>
                <tr>
                    <td><strong>Suplementos:</strong></td>
                    <td>{{ antecedentes_personales_nutricion.suplementos }}</td>
                </tr>
                <tr>
                    <td><strong>Cafeína:</strong></td>
                    <td>{{ antecedentes_personales_nutricion.cafeina }}</td>
                </tr>
                <tr>
                    <td><strong>Observaciones:</strong></td>
                    <td>{{ antecedentes_personales_nutricion.observaciones }}</td>
                </tr>
            </table>
            {% else %}
                <p>No hay datos de antecedentes personales.</p>
            {% endif %}
        </div>



        
              <!-- Evaluaciones clinica -->
              <div class="section">
                <h2>Evaluación Clínica</h2>
                {% if evaluacion_clinica %}
                    <table class="evaluation-table">
                        <tr>
                            <th>Piel</th>
                            <td>{{ evaluacion_clinica.piel }}</td>
                        </tr>
                        <tr>
                            <th>Ojos</th>
                            <td>{{ evaluacion_clinica.ojos }}</td>
                        </tr>
                        <tr>
                            <th>Uñas</th>
                            <td>{{ evaluacion_clinica.unas }}</td>
                        </tr>
                        <tr>
                            <th>Cabello</th>
                            <td>{{ evaluacion_clinica.cabello }}</td>
                        </tr>
                        <tr>
                            <th>Boca</th>
                            <td>{{ evaluacion_clinica.boca }}</td>
                        </tr>
                        <tr>
                            <th>Dientes</th>
                            <td>{{ evaluacion_clinica.dientes }}</td>
                        </tr>
                        <tr>
                            <th>Observación</th>
                            <td>{{ evaluacion_clinica.observacion }}</td>
                        </tr>
                    </table>
                {% else %}
                    <p>No hay datos de evaluación clínica.</p>
                {% endif %}
            </div>
                    <!-- Evaluaciones dieteica -->
        <div class="section">
            <h2>Registro Dietético</h2>
            {% if registro_dietetico %}
                <div class="info-group">
                    <p>¿Quién da la orientación?: {{ registro_dietetico.quien_orientacion }}</p>
                </div>
                <div class="info-group">
                    <p>Intolerancia a Alimentos: {{ registro_dietetico.intolerancia_alimento }}</p></div>
                    <div class="info-group">
                    <p>Alergia Alimentaria: {{ registro_dietetico.alergia_alimentaria }}</p></div>
                    <div class="info-group">
                    <p>Consumo de Agua: {{ registro_dietetico.consumo_agua }} L</p></div>
                    <div class="info-group">
                    <p>Disminución del Apetito: {{ registro_dietetico.disminucion_apetito }}</p></div>
                    <div class="info-group">
                    <p>Motivo del Apetito: {{ registro_dietetico.motivo_apetito }}</p></div>
                    <div class="info-group">
                    <p>Preferencia de Alimentos: {{ registro_dietetico.preferencia_alimentos }}</p></div>
                    <div class="info-group">
                    <p>Desagradables: {{ registro_dietetico.desagradables_alimentos }}</p></div>
                    <div class="info-group">
                    <p>Dinero Semanal: {{ registro_dietetico.dinero_semanal }} pesos</p></div>
                    <div class="info-group">
                    <p>Número de Personas en Casa: {{ registro_dietetico.num_personas }}</p></div>
                    <div class="info-group">
                    <p>¿Quién prepara los alimentos?: {{ registro_dietetico.quien_prepara }}</p></div>
                
                <h3>Detalles de las Comidas</h3>
                <table class="horizontal-table">
                    <tr>
                        <th>Desayuno</th>
                        <th>Colación 1</th>
                        <th>Almuerzo</th>
                        <th>Colación 2</th>
                        <th>Cena</th>
                    </tr>
                    <tr>
                        <td>
                            Lugar: {{ registro_dietetico.desayuno_lugar }}<br>
                            Horario: {{ registro_dietetico.desayuno_horario }}
                        </td>
                        <td>
                            Lugar: {{ registro_dietetico.colacion1_lugar }}<br>
                            Horario: {{ registro_dietetico.colacion1_horario }}
                        </td>
                        <td>
                            Lugar: {{ registro_dietetico.almuerzo_lugar }}<br>
                            Horario: {{ registro_dietetico.almuerzo_horario }}
                        </td>
                        <td>
                            Lugar: {{ registro_dietetico.colacion2_lugar }}<br>
                            Horario: {{ registro_dietetico.colacion2_horario }}
                        </td>
                        <td>
                            Lugar: {{ registro_dietetico.cena_lugar }}<br>
                            Horario: {{ registro_dietetico.cena_horario }}
                        </td>
                    </tr>
                </table>
                <p>Observaciones: {{ registro_dietetico.observaciones }}</p>
            {% else %}
                <p>No hay datos de registro dietético.</p>
            {% endif %}
        </div>
        
        <!-- Citas -->
        <div class="section">
            <h2>Citas</h2>
            {% if citas_nutricion %}
                <div class="table">
                    <table border="1">
                        <thead>
                            <tr>
                                <th>Fecha Consulta</th>
                                <th>Hora Consulta</th>
                                <th>Observaciones</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for citas_nutricion in citas_nutricion %}
                            <tr>
                                <td>{{ citas_nutricion.fecha_consulta }}</td>
                                <td>{{ citas_nutricion.hora_consulta }}</td>
                                <td>{{ citas_nutricion.observaciones }}</td>
                                <td>{{ citas_nutricion.estado }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p>No hay citas registradas.</p>
            {% endif %}
        </div>
        <div class="section">
            <h2>Evaluación Antropométrica</h2>
            <div class="table">
                <table border="1">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Peso (kg)</th>
                            <th>IMC</th>
                            <th>% de Grasa</th>
                            <th>Músculo (%/Kg)</th>
                            <th>Grasa Visceral</th>
                            <th>C. Cintura</th>
                            <th>C. Cadera</th>
                            <th>CM B C.</th>
                            <th>Pantorrilla</th>
                            <th>Presión Arterial</th>
                            <th>G. Capilar (mg/dL)</th>
                            <th>Diagnóstico Antropométrico</th>
                            <th>Tipo de ayuda</th>
                            <th>Observaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if evaluacion_antropometrica %}
                        {% for eval_ant in evaluacion_antropometrica %}
                            <tr>
                                <td>{{ eval_ant.fecha }}</td>
                                <td>{{ eval_ant.peso }}</td>
                                <td>{{ eval_ant.imc }}</td>
                                <td>{{ eval_ant.grasa }}</td>
                                <td>{{ eval_ant.musculo }}</td>
                                <td>{{ eval_ant.grasa_visceral }}</td>
                                <td>{{ eval_ant.cintura }}</td>
                                <td>{{ eval_ant.cadera }}</td>
                                <td>{{ eval_ant.cm_bc }}</td>
                                <td>{{ eval_ant.pantorrilla }}</td>
                                <td>{{ eval_ant.presion_arterial }}</td>
                                <td>{{ eval_ant.g_capilar }}</td>
                                <td>{{ eval_ant.diagnostico_antropometrico }}</td>
                                <td>{{ eval_ant.plan_alimentacion }}</td>
                                <td>{{ eval_ant.observaciones }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                {% else %}
                    </tbody>
                    </table>
                    <p>No hay datos de evaluación antropométrica.</p>
                {% endif %}
            </div>
        </div>
<div class="section">
    <h2>Evaluación Bioquímica</h2>
    {% if evaluacion_bioquimica %}
        <div class="table">
            <table border="1">
                <thead>
                    <tr>
                        <th>Fecha HB/HTO</th>
                        <th>Fecha Col/Trig</th>
                        <th>Fecha Gluca</th>
                        <th>HB</th>
                        <th>HTO</th>
                        <th>Colesterol</th>
                        <th>Triglicéridos</th>
                        <th>Glucosa</th>
                        <th>Urea</th>
                        <th>Creatinina</th>
                        <th>Ácido Úrico</th>
                        <th>Otros</th>
                    </tr>
                </thead>
                <tbody>
                {% for eval_bio in evaluacion_bioquimica %}
                    <tr>
                        <td>{{ eval_bio.fecha_hb_hto }}</td>
                        <td>{{ eval_bio.fecha_col_trig }}</td>
                        <td>{{ eval_bio.fecha_guca }}</td>
                        <td>{{ eval_bio.hb }}</td>
                        <td>{{ eval_bio.hto }}</td>
                        <td>{{ eval_bio.colesterol }}</td>
                        <td>{{ eval_bio.trigliceridos }}</td>
                        <td>{{ eval_bio.glucosa }}</td>
                        <td>{{ eval_bio.urea }}</td>
                        <td>{{ eval_bio.creatinina }}</td>
                        <td>{{ eval_bio.acido_urico }}</td>
                        <td>{{ eval_bio.otros }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>No hay datos de evaluación bioquímica.</p>
    {% endif %}
        
    
        {% else %}
            <p>No se encontró el paciente.</p>
        {% endif %}
        
        <!-- Botón para imprimir en PDF -->
        <button class="print-button" onclick="window.print()">Imprimir PDF</button>
    </div>
</body>
</html>

