<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="static/css/Imagen/_44109a07-adb5-4db9-90c0-8bac1621533a-removebg-preview.png">
    <title>Evaluación Antropométrica</title>
</head>
<body>
    <div class="navbar">
        <a href="/">Inicio</a>
        <a href="/registro">Registro</a>
        <a href="/consultar">Registro de consultas</a>
        <a href="/options">Calendario</a>
        <a href="/agendar_cita">Agendar Cita</a>
        <a href="/historial_citas">Historial de Citas</a>
        <a href="/directorio_pacientes">Directorio Pacientes</a>
        <a href="/expediente">Expediente</a>
    </div>
    <form action="/evaluacion_antropometrica" method="POST">
        <br></br>

        <br></br>

        <h1>Evaluación Antropométrica</h1>
        <div class="table"> 
            <br></br>
                <tr>
                    <td><label for="id_paciente">Selecciona un paciente:</label></td>
                    <td>
                        <input type="text" id="id_paciente" name="id_paciente" list="pacientes_list" required>
                        <datalist id="pacientes_list">
                            {% for paciente in pacientes %}
                            <option value="{{ paciente[0] }}">{{ paciente[1] }} {{ paciente[2] }} {{ paciente[3] }}</option>
                            {% endfor %}
                        </datalist>
                    </td>
                </tr>            
            <br> </br>
            <h3>Registros Antropométricos</h3>
            <div class="table">
                <table border="1">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Peso (kg)</th>
                            <th>% de Grasa</th>
                            <th>Músculo (%/Kg)</th>
                            <th>Grasa Visceral</th>
                            <th>C. Cintura</th>
                            <th>C. Cadera</th>
                            <th>CM B C.</th>
                            <th>Pantorrilla</th>
                            <th>Presión Arterial</th>
                            <th>G. Capilar (mg/dL)</th>
                            <th>Diagnóstico Antropométrico</th>
                            <th>Tipo de ayuda</th>
                            <th>Observaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="date" id="fecha" name="fecha"min="0"></td>
                            <td><input type="number" id="peso" name="peso"min="0"></td>
                            <td><input type="number" id="grasa" name="grasa"min="0"></td>
                            <td><input type="number" id="musculo" name="musculo"min="0"></td>
                            <td><input type="number" id="grasa_visceral" name="grasa_visceral"min="0"></td>
                            <td><input type="number" id="cintura" name="cintura"min="0"></td>
                            <td><input type="number" id="cadera" name="cadera"min="0"></td>
                            <td><input type="number" id="cm_bc" name="cm_bc"min="0"></td>
                            <td><input type="number" id="pantorrilla" name="pantorrilla"min="0"></td>
                            <td><input type="text" id="presion_arterial" name="presion_arterial"min="0"></td>
                            <td><input type="number" id="g_capilar" name="g_capilar"min="0"></td>
                            <td><input type="text" id="diagnostico_antropometrico" name="diagnostico_antropometrico"min="0"></td>
                            <td>  <select id="plan_alimentacion" name="plan_alimentacion">
                            <option value="Plan de Alimentacion"> Plan de alimentación</option>
                            <option value="Orientacion alimentaria">Orientacion alimentaria</option>
                             </select>
                    </td>
                            <td><textarea id="observaciones" name="observaciones"></textarea></td>
                        </tr>
                    </tbody>
                </table>
                <input type="submit" value="Guardar">
            </div>
        </div>
    </form>
</body>
</html>
