<!DOCTYPE html>
<html lang="es">
<head>
   
    <title>Evaluación Bioquímica</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='css/Imagen/_44109a07-adb5-4db9-90c0-8bac1621533a-removebg-preview.png') }}">
</head>
<body>
    <div class="navbar">
        <a href="/">Inicio</a>
        <a href="/registro">Registro</a>
        <a href="/consultar">Registro de consultas</a>
        <a href="/agenda">Calendario</a>
        <a href="/agendar_cita">Agendar Cita</a>
        <a href="/historial_citas">Historial de Citas</a>
        <a href="/directorio_pacientes">Directorio Pacientes</a>
        <a href="/buscar_paciente">Expediente</a>
        <a href="/crear_menu"> Creacion de menus </a>
    </div>
    <h2>Evaluación Bioquímica</h2>
    <form method="POST" action="/evaluacion_bioquimica">
        <div class="detalles_paciente">
        <div class="section">
            <h2>Evaluación Bioquímica</h2>
            {% if evaluacion_bioquimica %}
                <div class="table">
                    <table border="1">
                        <thead>
                            <tr>
                                <th>Fecha HB/HTO</th>
                                <th>Fecha Col/Trig</th>
                                <th>Fecha Gluca</th>
                                <th>HB</th>
                                <th>HTO</th>
                                <th>Colesterol</th>
                                <th>Triglicéridos</th>
                                <th>Glucosa</th>
                                <th>Urea</th>
                                <th>Creatinina</th>
                                <th>Ácido Úrico</th>
                                <th>Otros</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for eval_bio in evaluacion_bioquimica %}
                            <tr>
                                <td>{{ eval_bio.fecha_hb_hto }}</td>
                                <td>{{ eval_bio.fecha_col_trig }}</td>
                                <td>{{ eval_bio.fecha_guca }}</td>
                                <td>{{ eval_bio.hb }}</td>
                                <td>{{ eval_bio.hto }}</td>
                                <td>{{ eval_bio.colesterol }}</td>
                                <td>{{ eval_bio.trigliceridos }}</td>
                                <td>{{ eval_bio.glucosa }}</td>
                                <td>{{ eval_bio.urea }}</td>
                                <td>{{ eval_bio.creatinina }}</td>
                                <td>{{ eval_bio.acido_urico }}</td>
                                <td>{{ eval_bio.otros }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        
            <form method="POST" action="{{ url_for('evaluacion_bioquimica') }}">
                <table border="1" style="width: 100%;">
                    <thead>
                        <tr>
                            <th colspan="9">
                                <label for="id_paciente">Selecciona un paciente:</label>
                                <input type="text" id="id_paciente" name="id_paciente" list="pacientes_list" required>
                                <datalist id="pacientes_list">
                                    {% for paciente in pacientes %}
                                        <option value="{{ paciente[0] }}">{{ paciente[1] }} {{ paciente[2] }} {{ paciente[3] }}</option>
                                    {% endfor %}
                                </datalist>
                            </th>
                        </tr>
                        <tr>
                            <th colspan="2">Fecha de Hb y Hto</th>
                            <th colspan="2">Fecha de Colesterol y Triglicéridos</th>
                            <th colspan="5">Fecha de Glucosa, Urea, Creatinina y Ácido Úrico</th>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="date" id="fecha_hb_hto" name="fecha_hb_hto"></td>
                            <td colspan="2"><input type="date" id="fecha_col_trig" name="fecha_col_trig"></td>
                            <td colspan="5"><input type="date" id="fecha_guca" name="fecha_guca"></td>
                        </tr>
                        <tr>
                            <th>Hb (g/dL)</th>
                            <th>Hto (%)</th>
                            <th>Colesterol (mg/dL)</th>
                            <th>Triglicéridos (mg/dL)</th>
                            <th>Glucosa (mg/dL)</th>
                            <th>Urea (mg/dL)</th>
                            <th>Creatinina (mg/dL)</th>
                            <th>Ácido Úrico (mg/dL)</th>
                            <th>Otros</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="number" id="hb" name="hb" min="0" step="0.1"></td>
                            <td><input type="number" id="hto" name="hto" min="0" step="0.1"></td>
                            <td><input type="number" id="colesterol" name="colesterol" min="0" step="0.1"></td>
                            <td><input type="number" id="trigliceridos" name="trigliceridos" min="0" step="0.1"></td>
                            <td><input type="number" id="glucosa" name="glucosa" min="0" step="0.1"></td>
                            <td><input type="number" id="urea" name="urea" min="0" step="0.1"></td>
                            <td><input type="number" id="creatinina" name="creatinina" min="0" step="0.1"></td>
                            <td><input type="number" id="acido_urico" name="acido_urico" min="0" step="0.1"></td>
                            <td><input type="text" id="otros" name="otros"></td>
                        </tr>
                    </tbody>
                </table>
        <input type="submit" class=button value="Enviar">
            </div>
    </form>
</body>
</html>
