<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ver Menú</title>
    <style>
        .menu-container {
            display: flex;
            flex-wrap: nowrap;
        }
        .menu-column {
            flex: 1;
            margin: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
            background-color: #fff;
        }
        .menu-column h2 {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Menú del Paciente</h1>
    <div class="menu-container">
        {% for dia in range(1, 6) %}
        <div class="menu-column">
            <h2>Día {{ dia }}</h2>
            {% for detalle in detalles_menu if detalle[2] == dia %}
                <p>{{ detalle[3] | capitalize }}: {{ detalle[4] }}</p>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</body>
</html>
