<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylef.css') }}">
    <link rel="icon" type="image/png" href="static\css\Imagen\fisio_logo.png">

    <title>Buscar Paciente</title>
</head>
<body>
    <div class="navbar">
        <a href="/">Inicio</a>
        <a href="/registro">Registro</a>
        <a href="/consultar">Registro de consultas</a>
        <a href="/agenda">Calendario</a>
        <a href="/agendar_cita">Agendar Cita</a>
        <a href="/historial_citas">Historial de Citas</a>
        <a href="/directorio_pacientes">Directorio Pacientes</a>
        <a href="/expediente">Expediente</a>
    </div>
    <div class="container1">
    <h1>Buscar Paciente</h1>
    <form action="{{ url_for('detalles_paciente') }}" method="post">
        <input type="text" id="id_paciente" name="id_paciente" list="pacientes_list" required>
        <datalist id="pacientes_list">
            {% for paciente in pacientes %}
            <option value="{{ paciente[0] }}">{{ paciente[1] }} {{ paciente[2] }} {{ paciente[3] }}</option>
            {% endfor %}
        </datalist><br><br>
        <input type="submit" value="Buscar">
    </form></div>
</body>
</html>
