<!DOCTYPE html>
<html>
<head>
   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylef.css') }}">
    <link rel="icon" type="image/png" href="static/css/Imagen/fisio_logo.png">
    <title>Detalles del Paciente</title>
    <style>
        /* Agrega estilos CSS aquí para mejorar el diseño */
       
        .section {
            border: 1px solid #ddd;
            padding: 15px;
            margin-bottom: 20px;
            border-radius: 5px;
        }
        .print-button {
            display: block;
            width: 200px;
            margin: 20px auto;
            padding: 10px;
            text-align: center;
            background-color: #4CAF50;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            cursor: pointer;
        }
        @media print {
            body * {
                visibility: hidden;
            }

            .detalles_paciente, .detalles_paciente * {
                visibility: visible;
            }

            .detalles_paciente {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                margin: 0;
                padding: 0;
                border: none;
            }

            .print-button {
                display: none;
            }}
    </style>
</head>
<body>
    <div class="navbar">
        <a href="/">Inicio</a>
        <a href="/registro">Registro</a>
        <a href="/consultar">Registro de consultas</a>
        <a href="/agenda">Calendario</a>
        <a href="/agendar_cita">Agendar Cita</a>
        <a href="/historial_citas">Historial de Citas</a>
        <a href="/directorio_pacientes">Directorio Pacientes</a>
        <a href="/buscar_paciente">Expediente</a>
    </div>
</body>
<body>
    <div class="detalles_paciente">
        <h1>Detalles del Paciente</h1>
        {% if paciente %}
        
        <!-- Información Personal -->
        <div class="section">
            <h2>Información Personal</h2>
            <div class="info-group">
                <label>ID:</label> <span>{{ paciente.id_paciente }}</span>
            </div>
            <div class="info-group">
                <label>Nombre:</label> <span>{{ paciente.nombres }} {{ paciente.primer_apellido }} {{ paciente.segundo_apellido }}</span>
            </div>
            <div class="info-group">
                <label>Sexo:</label> <span>{{ paciente.genero }}</span>
            </div>
            <div class="info-group">
                <label>Religión:</label> <span>{{ paciente.religion }}</span>
            </div>
            <div class="info-group">
                <label>Ocupación:</label> <span>{{ paciente.ocupacion }}</span>
            </div>
            <div class="info-group">
                <label>Teléfono:</label> <span>{{ paciente.celular }}</span>
            </div>
            <div class="info-group">
                <label>Fecha/Lugar de Nacimiento:</label> <span>{{ paciente.fecha_nacimiento }}</span>
            </div>
            <div class="info-group">
                <label>Escolaridad:</label> <span>{{ paciente.escolaridad }}</span>
            </div>
            <div class="info-group">
                <label>Estado Civil:</label> <span>{{ paciente.estado_civil }}</span>
            </div>
            <div class="info-group">
                <label>Servicio de Salud:</label> <span>{{ paciente.servicio_salud }}</span>
            </div>
            <div class="info-group">
                <label>Turno:</label> <span>{{ paciente.turno }}</span>
            </div>
            <div class="info-group">
                <label>Peso:</label> <span>{{ paciente.peso }} kg</span>
            </div>
            <div class="info-group">
                <label>Altura:</label> <span>{{ paciente.altura }} cm</span>
            </div>
            <div class="info-group">
                <label>IMC:</label> <span>{{  '%.2f' %paciente.imc }}</span>
            </div>
            <div class="info-group">
                <label>Fecha de Registro:</label> <span>{{ paciente.fecha_registro }}</span>
            </div>
            <div class="info-group">
                <label>Registrado por:</label> <span>{{ paciente.registrado_por }}</span>
            </div>
        </div>

        <!-- Historia de Salud -->
<div class="section">
    <h2>Historia de Salud</h2>
    {% if historia_salud %}
    <table class="info-table">
        <!-- Sección Biológica -->
        <tr>
            <td><strong>Enfermedades:</strong></td>
            <td>{{ historia_salud.enfermedades }}</td>
        </tr>
        <tr>
            <td><strong>Antecedentes Heredofamiliares:</strong></td>
            <td>{{ historia_salud.antecedentes_heredofamiliares }}</td>
        </tr>
        <tr>
            <td><strong>Terapéutica:</strong></td>
            <td>{{ historia_salud.terapeutica }}</td>
        </tr>
        <tr>
            <td><strong>Traumas:</strong></td>
            <td>{{ historia_salud.traumas }}</td>
        </tr>
        <tr>
            <td><strong>Cirugías:</strong></td>
            <td>{{ historia_salud.cirugias }}</td>
        </tr>
        <tr>
            <td><strong>Alergias:</strong></td>
            <td>{{ historia_salud.alergias }}</td>
        </tr>
        <tr>
            <td><strong>Toxicomanías:</strong></td>
            <td>{{ historia_salud.toxicomanias }}</td>
        </tr>
        <tr>
            <td><strong>Sueño:</strong></td>
            <td>{{ historia_salud.sueno }}</td>
        </tr>
        <tr>
            <td><strong>Estado Nutricional:</strong></td>
            <td>{{ historia_salud.estado_nutricional }}</td>
        </tr>

        <!-- Sección Psicológica -->
        <tr>
            <td><strong>Pérdidas:</strong></td>
            <td>{{ historia_salud.perdidas }}</td>
        </tr>
        <tr>
            <td><strong>Pérdidas Funcionales:</strong></td>
            <td>{{ historia_salud.perdidas_funcionales }}</td>
        </tr>
        <tr>
            <td><strong>Ansiedad:</strong></td>
            <td>{{ historia_salud.ansiedad }}</td>
        </tr>
        <tr>
            <td><strong>Depresión:</strong></td>
            <td>{{ historia_salud.depresion }}</td>
        </tr>
        <tr>
            <td><strong>Personalidad:</strong></td>
            <td>{{ historia_salud.personalidad }}</td>
        </tr>
        <tr>
            <td><strong>Otro (Psicológico):</strong></td>
            <td>{{ historia_salud.otro_psicologico }}</td>
        </tr>

        <!-- Sección Sociocultural -->
        <tr>
            <td><strong>Redes de Apoyo:</strong></td>
            <td>{{ historia_salud.redes_apoyo }}</td>
        </tr>
        <tr>
            <td><strong>Nivel Socioeconómico:</strong></td>
            <td>{{ historia_salud.nivel_socioeconomico }}</td>
        </tr>
        <tr>
            <td><strong>Actividad Económica:</strong></td>
            <td>{{ historia_salud.actividad_economica }}</td>
        </tr>
        <tr>
            <td><strong>Actividad de Ocio/Tiempo Libre:</strong></td>
            <td>{{ historia_salud.actividad_ocio }}</td>
        </tr>

        <!-- Campos adicionales -->
        <tr>
            <td><strong>Rol Social:</strong></td>
            <td>{{ historia_salud.rol_social }}</td>
        </tr>
        <tr>
            <td><strong>Red Familiar:</strong></td>
            <td>{{ historia_salud.red_familiar }}</td>
        </tr>
    </table>
    <a href="/registro_historia_salud" class="button">Actualizar datos</a>
    {% else %}
        <p>No hay datos de historia de salud.</p>
        <a href="/registro_historia_salud" class="button">Registrar datos</a>
    {% endif %}
</div>
     <!-- Tipificación del Adulto Mayor -->
<div class="section">
    <h2>Tipificación del Adulto Mayor</h2>
    {% if tipificacion %}
    <table class="info-table">
        <tr>
            <td><strong>Vejez:</strong></td>
            <td>{{ tipificacion.vejez }}</td>
        </tr>
        <tr>
            <td><strong>Envejecimiento:</strong></td>
            <td>{{ tipificacion.envejecimiento }}</td>
        </tr>
        <tr>
            <td><strong>Adulto Mayor:</strong></td>
            <td>{{ tipificacion.adulto_mayor }}</td>
        </tr>
        <tr>
            <td><strong>Índice de Comorbilidad y Mortalidad:</strong></td>
            <td>{{ tipificacion.indice_comorbilidad_mortalidad }}</td>
        </tr>
        <tr>
            <td><strong>Capacidad Física Funcional Total:</strong></td>
            <td>{{ tipificacion.capacidad_fisica_funcional_total }}</td>
        </tr>
        <tr>
            <th colspan="2"><strong>Movilidad Articular</strong></th>
        </tr>
        <tr>
            <td><strong>Miembros Superiores:</strong></td>
            <td>{{ tipificacion.movilidad_miembros_superiores }}</td>
        </tr>
        <tr>
            <td><strong>Miembros Inferiores:</strong></td>
            <td>{{ tipificacion.movilidad_miembros_inferiores }}</td>
        </tr>
        <tr>
            <td><strong>Tronco:</strong></td>
            <td>{{ tipificacion.movilidad_tronco }}</td>
        </tr>
    </table>
    <a href="/tipificacion_adulto_mayor" class="button">Actualizar Tipificación</a>
    {% else %}
    <p>No hay datos de tipificación del adulto mayor disponibles.</p>
    <a href="/tipificacion_adulto_mayor" class="button">Añadir Tipificación</a>
    {% endif %}
</div>
  
    
        {% else %}
            <p>No se encontró el paciente.</p>
        {% endif %}
        
        <!-- Botón para imprimir en PDF -->
        <button class="print-button" onclick="window.print()">Imprimir PDF</button>
    </div>
</body>
</html>

