<!DOCTYPE html>
<html lang="es">

<head>
   
    <title>Expedientes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylep.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='css/Imagen/_psico.png') }}">


</head>

<body>
    <div class="navbar">
        <a href="/">Inicio</a>
        <a href="/registro">Registro</a>
        <a href="/consultar">Registro de consultas</a>
        <a href="/agenda">Calendario</a>
        <a href="/agendar_cita">Agendar Cita</a>
        <a href="/historial_citas">Historial de Citas</a>
        <a href="/directorio_pacientes">Directorio Pacientes</a>
        <a href="/expediente">Expediente</a>
    </div>
    <br>      <br> <br>      <br> 
    <div class="content_exp">
        
        <a href="/registro_antecedentes_familiares" class="button2">Antecedentes Familiares</a>
        <a href="/registro_antecedentes_personales"class="button2">Antecedentes personales</a>
        <a href="/evaluacion_clinica"class="button2">Evaluacion Clinica</a>
        <a href="/evaluacion_dietetica"class="button2">Evauacion dietetica</a>
        <a href="/evaluacion_antropometrica"class="button2">Evaluacion Antropometrica</a>
        <a href="/evaluacion_bioquimica"class="button2">Evaluacion Bioquimica</a>
        <a href="/buscar_paciente"class="button2"> Historial del paciente </a>
        
       
    </div>
</body>

</html>
