<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directorio de Pacientes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="static\css\Imagen\_44109a07-adb5-4db9-90c0-8bac1621533a-removebg-preview.png">

</head>

<body>
    <!-- Barra de navegación -->
    <div class="navbar" id="navbar">
        <a href="/">Inicio</a>
        <a href="/registro">Registro</a>
        <a href="/consultar">Registro de consultas</a>
        <a href="/options">Calendario</a>
        <a href="/agendar_cita">Agendar Cita</a>
        <a href="/historial_citas">Historial de Citas</a>
        <a href="/directorio_pacientes">Directorio Pacientes</a>
        <a href="/expediente">Expediente</a>
        </div>
<br>      <br>   </br></br>
    <!-- Contenido principal -->
    <h1>Directorio de Pacientes</h1>

    <!-- Formulario de filtrado por nombre o apellidos -->
    <form action="{{ url_for('directorio_pacientes') }}" method="post" class="filter-form">
        <label for="filtro_apellidos">Filtrar por Nombre o Apellidos:</label>
        <input type="text" id="filtro_apellidos" name="filter_text" placeholder="Ingrese nombre/apellidos..">
        <input type="hidden" name="filter_by" value="apellidos">
        <input type="submit" value="Buscar">
    </form>

    <!-- Formulario de filtrado por ID -->
    <form action="{{ url_for('directorio_pacientes') }}" method="post" class="filter-form">
        <label for="filtro_id">Filtrar por ID:</label>
        <input type="text" id="filtro_id" name="filter_text" placeholder="Ingrese ID...">
        <input type="hidden" name="filter_by" value="id_paciente">
        <input type="submit" value="Buscar">
    </form>

    <!-- Tabla de pacientes -->
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Número de Teléfono</th>
        </tr>
        {% for paciente in pacientes %}
        <tr>
            <td>{{ paciente[0] }}</td>
            <td>{{ paciente[1] }} {{ paciente[2] }} {{ paciente[3] }}</td>
            <td>{{ paciente[10] }}</td>
        </tr>
        {% endfor %}
    </table>

    <!-- Botón de ir al inicio -->
    <button onclick="topFunction()" class="top-btn" id="myBtn" title="Go to top">Top</button>

    <!-- Script para mostrar/ocultar el botón de ir al inicio -->
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("myBtn").style.display = "block";
            } else {
                document.getElementById("myBtn").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
    </script>
</body>
</html>