<!DOCTYPE html>
<html lang="en">
<head>
    <title>Evaluación Dietética</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="static\css\Imagen\_44109a07-adb5-4db9-90c0-8bac1621533a-removebg-preview.png">

</head>
<body>
      <div class="navbar">
        <a href="/">Inicio</a>
        <a href="/registro">Registro</a>
        <a href="/consultar">Registro de consultas</a>
        <a href="/options">Calendario</a>
        <a href="/agendar_cita">Agendar Cita</a>
        <a href="/historial_citas">Historial de Citas</a>
        <a href="/directorio_pacientes">Directorio Pacientes</a>
        <a href="/expediente">Expediente</a>
        </div>

<body>
    <fieldset>
        <div class="container1">
                <h2>Evaluación Dietética</h2>
    <form action="/evaluacion_dietetica" method="POST">
        <label for="id_paciente">Selecciona un paciente:</label>
        <input type="text" id="id_paciente" name="id_paciente" list="pacientes_list" required>
        <datalist id="pacientes_list">
            {% for paciente in pacientes %}
            <option value="{{ paciente[0] }}">{{ paciente[1] }} {{ paciente[2] }} {{ paciente[3] }}</option>
            {% endfor %}
        </datalist><br><br>
        <label for="orientacion_alimentaria">Orientación alimentaria</label>
       
        <label for="quien_orientacion">¿De quién recibe orientacion alimentaria?</label>
        <input type="text" id="quien_orientacion" name="quien_orientacion"required>
        <br><br>

        <label for="intolerancia_alimento">Intolerancia a algún alimento</label>
        <input type="text" id="intolerancia_alimento" name="intolerancia_alimento"required>
        <br><br>

        <label for="alergia_alimentaria">Alergia Alimentaria</label>
        <input type="text" id="alergia_alimentaria" name="alergia_alimentaria"required>
        <br><br>

        <label for="consumo_agua">Consumo de agua al día</label>
        <input type="text" id="consumo_agua" name="consumo_agua"required>
        <br><br>
        <label>
            En los últimos tres meses ha disminuido su apetito
            <input type="radio" id="si_apetito" name="disminucion_apetito" value="SI">
            <span>SI</span>
            <input type="radio" id="no_apetito" name="disminucion_apetito" value="NO"required>
            <span>NO</span>
        </label>

        <label for="motivo_apetito">¿Motivo?</label>
        <input type="text" id="motivo_apetito" name="motivo_apetito">
        <br><br>

        <label for="preferencia_alimentos">Alimentos de preferencia</label>
        <textarea id="preferencia_alimentos" name="preferencia_alimentos"required></textarea>
        <br><br>

        <label for="desagradables_alimentos">Alimentos desagradables</label>
        <textarea id="desagradables_alimentos" name="desagradables_alimentos"required></textarea>
        <br><br>

        <label for="dinero_semanal">Dinero destinado a la alimentación semanal</label>
        <input type="number" id="dinero_semanal" name="dinero_semanal" oninput="formatoPesosMexicanos(this)">
        <span id="dinero_semanal_display">0.00 MXN</span>
        <br><br>
        <label for="num_personas">No. Personas:</label>
        <input type="number" id="num_personas" name="num_personas"required>
        <br>
        <label for="quien_prepara">¿Quién lo prepara?</label>
        <input type="text" id="quien_prepara" name="quien_prepara"required>
        <br><br>

        <label for="recordatorio">Recordatorio de 24 horas</label>
        <input type="checkbox" id="recordatorio_24" name="recordatorio" value="24 horas">
        <label for="recordatorio_24">DIETA HABITUAL</label>
        <input type="checkbox" id="dieta_habitual" name="recordatorio" value="dieta habitual">
        <label for="dieta_habitual">DIETA HABITUAL</label>
        <br><br>

        <h3>Entre semana</h3>

        <table border="1">
            <tr>
                <th>Comida</th>
                <th>Lugar</th>
                <th>Horario</th>
            </tr>
            <tr>
                <td>Desayuno</td>
                <td><input type="text" id="desayuno_lugar" name="desayuno_lugar"></td>
                <td><input type="text" id="desayuno_horario" name="desayuno_horario"></td>
            </tr>
            <tr>
                <td>Colación 1</td>
                <td><input type="text" id="colacion1_lugar" name="colacion1_lugar"></td>
                <td><input type="text" id="colacion1_horario" name="colacion1_horario"></td>
            </tr>
            <tr>
                <td>Almuerzo</td>
                <td><input type="text" id="almuerzo_lugar" name="almuerzo_lugar"></td>
                <td><input type="text" id="almuerzo_horario" name="almuerzo_horario"></td>
            </tr>
            <tr>
                <td>Colación 2</td>
                <td><input type="text" id="colacion2_lugar" name="colacion2_lugar"></td>
                <td><input type="text" id="colacion2_horario" name="colacion2_horario"></td>
            </tr>
            <tr>
                <td>Cena</td>
                <td><input type="text" id="cena_lugar" name="cena_lugar"></td>
                <td><input type="text" id="cena_horario" name="cena_horario"></td>
            </tr>
        </table>
    </form>
    <h3>Frecuencia de Consumo</h3>
    <table border="1">
        <thead>
            <tr>
                <th>Grupo de alimentos</th>
                <th>Frecuencia</th>
                <th>Tipo</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>CEREALES</td>
                <td><input type="text" id="frecuencia_cereales" name="frecuencia_cereales"></td>
                <td><input type="text" id="tipo_cereales" name="tipo_cereales"></td>
                <td><input type="text" id="cantidad_cereales" name="cantidad_cereales"></td>
            </tr>
            <tr>
                <td>FRUTAS</td>
                <td><input type="text" id="frecuencia_frutas" name="frecuencia_frutas"></td>
                <td><input type="text" id="tipo_frutas" name="tipo_frutas"></td>
                <td><input type="text" id="cantidad_frutas" name="cantidad_frutas"></td>
            </tr>
            <tr>
                <td>VERDURAS</td>
                <td><input type="text" id="frecuencia_verduras" name="frecuencia_verduras"></td>
                <td><input type="text" id="tipo_verduras" name="tipo_verduras"></td>
                <td><input type="text" id="cantidad_verduras" name="cantidad_verduras"></td>
            </tr>
            <tr>
                <td>AOA (alimentos de origen animal)</td>
                <td><input type="text" id="frecuencia_aoa" name="frecuencia_aoa"></td>
                <td><input type="text" id="tipo_aoa" name="tipo_aoa"></td>
                <td><input type="text" id="cantidad_aoa" name="cantidad_aoa"></td>
            </tr>
            <tr>
                <td>LEGUMINOSAS</td>
                <td><input type="text" id="frecuencia_leguminosas" name="frecuencia_leguminosas"></td>
                <td><input type="text" id="tipo_leguminosas" name="tipo_leguminosas"></td>
                <td><input type="text" id="cantidad_leguminosas" name="cantidad_leguminosas"></td>
            </tr>
            <tr>
                <td>LÁCTEOS</td>
                <td><input type="text" id="frecuencia_lacteos" name="frecuencia_lacteos"></td>
                <td><input type="text" id="tipo_lacteos" name="tipo_lacteos"></td>
                <td><input type="text" id="cantidad_lacteos" name="cantidad_lacteos"></td>
            </tr>
            <tr>
                <td>GRASAS</td>
                <td><input type="text" id="frecuencia_grasas" name="frecuencia_grasas"></td>
                <td><input type="text" id="tipo_grasas" name="tipo_grasas"></td>
                <td><input type="text" id="cantidad_grasas" name="cantidad_grasas"></td>
            </tr>
            <tr>
                <td>AZÚCARES</td>
                <td><input type="text" id="frecuencia_azucar" name="frecuencia_azucar"></td>
                <td><input type="text" id="tipo_azucar" name="tipo_azucar"></td>
                <td><input type="text" id="cantidad_azucar" name="cantidad_azucar"></td>
            </tr>
        </tbody>
    </table>

    <br><br>
    <input type="submit" value="Guardar">
</form>
</fieldset>
</div>
</body>
<script>
    function formatoPesosMexicanos(input) {
        // Obtener el valor del input
        let cantidad = input.value;

        // Validar que la cantidad sea numérica y no esté vacía
        if (!isNaN(cantidad) && cantidad !== '') {
            // Formatear la cantidad a pesos mexicanos (MXN)
            let formatoMXN = new Intl.NumberFormat('es-MX', {
                style: 'currency',
                currency: 'MXN',
                minimumFractionDigits: 2
            }).format(cantidad);

            // Mostrar la cantidad formateada en el span
            document.getElementById('dinero_semanal_display').textContent = formatoMXN;
        } else {
            // Si la cantidad no es válida, mostrar 0.00 MXN
            document.getElementById('dinero_semanal_display').textContent = '0.00 MXN';
        }
    }
</script>
</html>