<!DOCTYPE html>
<html lang="en">
<head>
    <title>Evaluación Clínica</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>
<body>
      <div class="navbar">
        <a href="/">Inicio</a>
        <a href="/registro">Registro</a>
        <a href="/consultar">Registro de consultas</a>
        <a href="/options">Calendario</a>
        <a href="/agendar_cita">Agendar Cita</a>
        <a href="/historial_citas">Historial de Citas</a>
        <a href="/directorio_pacientes">Directorio Pacientes</a>
        <a href="/expediente">Expediente</a>
        </div>
<head>
</head>
<body>
    <div class="container1">  
        <fieldset>
    <h1>Formulario de Evaluación Clínica</h1>
    <form action="/evaluacion_clinica" method="POST">
        <label for="signos">Signos:</label>
        <input type="text" id="signos" name="signos" required><br><br>

        <label for="piel">Piel:</label>
        <input type="text" id="piel" name="piel" required><br><br>

        <label for="ojos">Ojos:</label>
        <input type="text" id="ojos" name="ojos" required><br><br>

        <label for="uñas">Uñas:</label>
        <input type="text" id="uñas" name="uñas" required><br><br>

        <label for="cabello">Cabello:</label>
        <input type="text" id="cabello" name="cabello" required><br><br>

        <label for="boca">Boca:</label>
        <input type="text" id="boca" name="boca" required><br><br>

        <label for="dientes">Dientes:</label>
        <input type="text" id="dientes" name="dientes" required><br><br>

        <label for="observacion">Observación:</label><br>
        <textarea id="observacion" name="observacion" rows="4" cols="50"></textarea><br><br>

        <input type="submit" value="Enviar">
        <input type="reset" value="Limpiar">
        <h2>Evaluación Bioquímica</h2>
        <form action="procesar_bioquimica.php" method="POST">
            <label for="sinEstudios">Sin Estudios:</label>
            <input type="text" id="sinEstudios" name="sinEstudios"><br><br>
    
            <label for="fechaHb">Fecha Hb:</label>
            <input type="date" id="fechaHb" name="fechaHb"><br><br>
    
            <label for="fechaHto">Fecha Hto:</label>
            <input type="date" id="fechaHto" name="fechaHto"><br><br>
    
            <label for="fechaColesterol">Fecha Colesterol:</label>
            <input type="date" id="fechaColesterol" name="fechaColesterol"><br><br>
    
            <label for="fechaTrigliceridos">Fecha Triglicéridos:</label>
            <input type="date" id="fechaTrigliceridos" name="fechaTrigliceridos"><br><br>
    
            <label for="fechaGlucos">Fecha Glucos:</label>
            <input type="date" id="fechaGlucos" name="fechaGlucos"><br><br>
    
            <label for="urea">Urea:</label>
            <input type="text" id="urea" name="urea"><br><br>
    
            <label for="creatinina">Creatinina:</label>
            <input type="text" id="creatinina" name="creatinina"><br><br>
    
            <label for="acidoUrico">Ácido Úrico:</label>
            <input type="text" id="acidoUrico" name="acidoUrico"><br><br>
    
            <label for="otros">Otros:</label>
            <input type="text" id="otros" name="otros"><br><br>
    
            <input type="submit" value="Enviar">
            <input type="reset" value="Limpiar">
        </form>
    </form>
</fieldset>
    </div>
</body>
</html>
