<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expedientes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="static\css\Imagen\_44109a07-adb5-4db9-90c0-8bac1621533a-removebg-preview.png">

</head>

<body>
    <div class="navbar">
        <a href="/">Inicio</a>
        <a href="/registro">Registro</a>
        <a href="/consultar">Registro de consultas</a>
        <a href="/options">Calendario</a>
        <a href="/agendar_cita">Agendar Cita</a>
        <a href="/historial_citas">Historial de Citas</a>
        <a href="/directorio_pacientes">Directorio Pacientes</a>
        <a href="/expediente">Expediente</a>
    </div>
    <br>      <br> <br>      <br> 
    <div class="content_exp">
        
        <a href="/registro_antecedentes_familiares" class="button1">Antecedentes Familiares</a>
        <a href="/registro_antecedentes_personales"class="button1">Antecedentes personales</a>
        <a href="/evaluacion_clinica"class="button1">Evaluacion Clinica</a>
        <a href="/evaluacion_dietetica"class="button1">Evauacion dietetica</a>
        <a href="/evaluacion_antropometrica"class="button1">Evaluacion Antropometrica</a>
        <a href="/evaluacion_bioquimica"class="button1">Evaluacion Bioquimica</a>
        <a href="/historial_nutricional"class="button1">historial Nutricional </a>
        
       
    </div>
</body>

</html>
