<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de Citas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">  
      <link rel="icon" type="image/png" href="static\css\Imagen\_44109a07-adb5-4db9-90c0-8bac1621533a-removebg-preview.png">


</head>

<body>
    <div class="navbar">
        <a href="/">Inicio</a>
        <a href="/registro">Registro</a>
        <a href="/consultar">Registro de consultas</a>
        <a href="/options">Calendario</a>
        <a href="/agendar_cita">Agendar Cita</a>
        <a href="/historial_citas">Historial de Citas</a>
        <a href="/directorio_pacientes">Directorio Pacientes</a>
        <a href="/expediente">Expediente</a>
        </div>
        <!-- Formulario de filtrado por ID -->
        <br>
    </br>
            <h1>Historial de Citas</h1>
        
            <br></br>
            <div class="filter-container">

            <form action="{{ url_for('historial_citas') }}" method="post" class="filter-form">

            <label for="filtro_id">Filtrar por ID:</label>
            <input type="text" id="filter_id" name="filter_text" list="pacientes_list" required>
            <datalist id="pacientes_list">
                {% for paciente in pacientes %}
                <option value="{{ paciente[0] }}">{{ paciente[1] }} {{ paciente[2] }} {{ paciente[3] }}</option>
                {% endfor %}
            </datalist>
            <input type="hidden" name="filter_by" value="id_paciente">
            <input type="submit" value="Buscar">
        </form>
    </div>
     
        
        <table border="1">
            <tr>
                <th>ID</th>
                <th>ID Paciente</th>
                <th>Fecha Consulta</th>
                <th>Hora Consulta</th>
                <th>Observaciones</th>
                <th>Estado

                    <form action="{{ url_for('historial_citas') }}" method="post" class="filter-form">
            
                        <label for="filter_estado">Estado:</label>
                        <select id="filter_estado" name="filter_estado">
                            <option value="Cancelada" {% if filter_estado == 'Cancelada' %} selected {% endif %}>Cancelada</option>
                            <option value="Pendiente" {% if filter_estado == 'Pendiente' %} selected {% endif %}>Pendiente</option>
                            <option value="Realizada" {% if filter_estado == 'Realizada' %} selected {% endif %}>Realizada</option>
                            <input type="submit" value="Buscar">

                        </select>
                    </form>
                    
                </th>
            </tr>
            {% for cita in citas %}
            <tr>
                <td>{{ cita[0] }}</td>
                <td>{{ cita[1] }}</td>
                <td>{{ cita[2] }}</td>
                <td>{{ cita[3] }}</td>
                <td>{{ cita[4] }}</td>
                <td>
                    <form action="/actualizar_estado" method="POST">
                        <input type="hidden" name="id_cita" value="{{ cita[0] }}">
                        <select name="estado">
                            <option value="Pendiente" {% if cita[5] == 'Pendiente' %}selected{% endif %}>Pendiente</option>
                            <option value="Atendida" {% if cita[5] == 'Atendida' %}selected{% endif %}>Atendida</option>
                            <option value="Cancelada" {% if cita[5] == 'Cancelada' %}selected{% endif %}>Cancelada</option>
                        </select>
                        <input type="submit" value="Actualizar">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </body>
    </html>