<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Antecedentes Familiares</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="static\css\Imagen\_44109a07-adb5-4db9-90c0-8bac1621533a-removebg-preview.png">

</head>
<body>
      <div class="navbar">
        <a href="/">Inicio</a>
        <a href="/registro">Registro</a>
        <a href="/consultar">Registro de consultas</a>
        <a href="/options">Calendario</a>
        <a href="/agendar_cita">Agendar Cita</a>
        <a href="/historial_citas">Historial de Citas</a>
        <a href="/directorio_pacientes">Directorio Pacientes</a>
        <a href="/expediente">Expediente</a>
        </div>
    <h1>Registro de Antecedentes Familiares</h1>
    <form method="POST" action="/registro_antecedentes_familiares">
        <div class="container1">
            <fieldset>
                <legend>Antecedentes Familiares</legend>
                <label for="id_paciente">Selecciona un paciente:</label>
                <input type="text" id="id_paciente" name="id_paciente" list="pacientes_list" required>
                <datalist id="pacientes_list">
                    {% for paciente in pacientes %}
                    <option value="{{ paciente[0] }}">{{ paciente[1] }} {{ paciente[2] }} {{ paciente[3] }}</option>
                    {% endfor %}
                </datalist><br><br>
    
                <label>
              
        <label for="diabetes_mellitus_familiar">Diabetes mellitus familiar:</label>
        <input type="text" id="diabetes_mellitus_familiar" name="diabetes_mellitus_familiar" required><br><br>

        <label for="dislipidemias_familiar">Dislipidemias familiar:</label>
        <input type="text" id="dislipidemias_familiar" name="dislipidemias_familiar" required><br><br>

        <label for="sobrepeso_obesidad_familiar">Sobrepeso/obesidad familiar:</label>
        <input type="text" id="sobrepeso_obesidad_familiar" name="sobrepeso_obesidad_familiar" required><br><br>

        <label for="cancer_tipo_familiar">Cáncer tipo familiar:</label>
        <input type="text" id="cancer_tipo_familiar" name="cancer_tipo_familiar" required><br><br>

        <label for="hipertension_familiar">Hipertensión familiar:</label>
        <input type="text" id="hipertension_familiar" name="hipertension_familiar" required><br><br>

        <label for="otras">Otras condiciones familiares:</label>
        <input type="text" id="otras" name="otras"><br><br>
    
                <button type="submit">Guardar</button>
            </fieldset>
        </div>
    </form>
    
        </fieldset>
</div>
        </body>
        </html>
        