<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Antecedentes Familiares</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="static\css\Imagen\_44109a07-adb5-4db9-90c0-8bac1621533a-removebg-preview.png">

</head>
<body>
      <div class="navbar">
        <a href="/">Inicio</a>
        <a href="/registro">Registro</a>
        <a href="/consultar">Registro de consultas</a>
        <a href="/options">Calendario</a>
        <a href="/agendar_cita">Agendar Cita</a>
        <a href="/historial_citas">Historial de Citas</a>
        <a href="/directorio_pacientes">Directorio Pacientes</a>
        <a href="/expediente">Expediente</a>
        </div>
        <br>      <br> 
        <br>      <br> 
    <h1>Registro de Antecedentes Familiares</h1>
    <form method="POST" action="/registro_antecedentes_familiares">
        <div class="container1">
 <fieldset>
                <legend>Antecedentes Familiares</legend>
                <label for="id_paciente">Selecciona un paciente:</label>
                <input type="text" id="id_paciente" name="id_paciente" list="pacientes_list" required>
                <datalist id="pacientes_list">
                    {% for paciente in pacientes %}
                    <option value="{{ paciente[0] }}">{{ paciente[1] }} {{ paciente[2] }} {{ paciente[3] }}</option>
                    {% endfor %}
                </datalist><br><br>
           
                <div class="checkbox-container-container1">
                    <label>Familiar(es) con Diabetes mellitus:</label>
                    <div class="checkbox-container">
                        <div class="checkbox-column">
                        <input type="checkbox" id="ninguno" name="diabetes_mellitus_familiar" value="Ninguno"checked>
                        <label for="ninguno">Ninguno</label><br>
                        
                        <input type="checkbox" id="madre" name="diabetes_mellitus_familiar" value="Madre">
                        <label for="madre">Madre</label><br>
                        
                        <input type="checkbox" id="padre" name="diabetes_mellitus_familiar" value="Padre">
                        <label for="padre">Padre</label><br>
                        </div>
                        <div class="checkbox-column">
                        <input type="checkbox" id="abuela_materna" name="diabetes_mellitus_familiar" value="Abuela materna">
                        <label for="abuela_materna">Abuela materna</label><br>
                        
                        <input type="checkbox" id="abuelo_materno" name="diabetes_mellitus_familiar" value="Abuelo materno">
                        <label for="abuelo_materno">Abuelo materno</label><br>
                        
                        <input type="checkbox" id="abuela_paterna" name="diabetes_mellitus_familiar" value="Abuela paterna">
                        <label for="abuela_paterna">Abuela paterna</label><br>
                        
                        <input type="checkbox" id="abuelo_paterno" name="diabetes_mellitus_familiar" value="Abuelo paterno">
                        <label for="abuelo_paterno">Abuelo paterno</label><br>
                        </div>
                </div>
            </div>

<br><br>
<div class="checkbox-container-container2">
        <label for="dislipidemias_con_familiar">Familiar con Dislipidemias:</label>
        <select id="dislipidemias_con_familiar" name="dislipidemias_con_familiar" required><br><br>
            <option value="Ninguno">Ninguno</option>
            <option value="Madre">Madre</option>
            <option value="Padre">Padre</option>
            <option value="Abuela materna">Abuela materna</option>
            <option value="Abuelo materno">Abuelo materno</option>
            <option value="Abuela paterna">Abuela paterna</option>
            <option value="Abuelo paterno">Abuelo paterno</option>
        </select>
        <input type="text" id="tipo_dislipidemias" name="tipo_dislipidemias" ><br><br>
        <br><br>    
       </div>
        <div class="checkbox-container-container3">
        <label for="sobrepeso_obesidad_familiar">Familiar con  Sobrepeso/obesidad:</label>
        <div class="checkbox-container">
            <div class="checkbox-column">
                <input type="checkbox" id="ninguno" name="sobrepeso_obesidad_familiar" value="Ninguno" checked>
                <label for="ninguno">Ninguno</label><br>
                
                <input type="checkbox" id="madre" name="sobrepeso_obesidad_familiar" value="Madre">
                <label for="madre">Madre</label><br>
                
                <input type="checkbox" id="padre" name="sobrepeso_obesidad_familiar" value="Padre">
                <label for="padre">Padre</label><br>
            </div>
            <div class="checkbox-column">
                <input type="checkbox" id="abuela_materna" name="sobrepeso_obesidad_familiar" value="Abuela materna">
                <label for="abuela_materna">Abuela materna</label><br>
                
                <input type="checkbox" id="abuelo_materno" name="sobrepeso_obesidad_familiar" value="Abuelo materno">
                <label for="abuelo_materno">Abuelo materno</label><br>
                
                <input type="checkbox" id="abuela_paterna" name="sobrepeso_obesidad_familiar" value="Abuela paterna">
                <label for="abuela_paterna">Abuela paterna</label><br>
                
                <input type="checkbox" id="abuelo_paterno" name="sobrepeso_obesidad_familiar" value="Abuelo paterno">
                <label for="abuelo_paterno">Abuelo paterno</label><br>
            </div>
        </div>
    </div>
    <div class="checkbox-container-container4">

        <label for="cancer_familiar">Familiar con Cáncer:</label>
        <select id="cancer_familiar"name="cancer_familiar" required><br><br>   
            <option value="Ninguno">Ninguno</option>
            <option value="Madre">Madre</option>
            <option value="Padre">Padre</option>
            <option value="Abuela materna">Abuela materna</option>
            <option value="Abuelo materno">Abuelo materno</option>
            <option value="Abuela paterna">Abuela paterna</option>
            <option value="Abuelo paterno">Abuelo paterno</option>
        </select>
                <input type="text" id="Tipo_cancer" name="tipo_cancer" placeholder="tipo_cancer">
<br><br> </div>

<div class="checkbox-container-container5">
        <label for="hipertension_familiar">Familiar con Hipertensión:</label>
        <div class="checkbox-container">
            <div class="checkbox-column">
                <input type="checkbox" id="ninguno" name="hipertension_familiar" value="Ninguno" checked>
                <label for="ninguno">Ninguno</label><br>
                
                <input type="checkbox" id="madre" name="hipertension_familiar" value="Madre">
                <label for="madre">Madre</label><br>
                
                <input type="checkbox" id="padre" name="hipertension_familiar" value="Padre">
                <label for="padre">Padre</label><br>
            </div>
            <div class="checkbox-column">
                <input type="checkbox" id="abuela_materna" name="hipertension_familiar" value="Abuela materna">
                <label for="abuela_materna">Abuela materna</label><br>
                
                <input type="checkbox" id="abuelo_materno" name="hipertension_familiar" value="Abuelo materno">
                <label for="abuelo_materno">Abuelo materno</label><br>
                
                <input type="checkbox" id="abuela_paterna" name="hipertension_familiar" value="Abuela paterna">
                <label for="abuela_paterna">Abuela paterna</label><br>
                
                <input type="checkbox" id="abuelo_paterno" name="hipertension_familiar" value="Abuelo paterno">
                <label for="abuelo_paterno">Abuelo paterno</label><br>
            </div>
        </div>
       </div>
        <div class="checkbox-container-container6">
        <label for="familiar_con_cardiopatias">Familiar con Cardiopatías:</label>
        <select id="familiar_con_cardiopatias" name="familiar_con_cardiopatias" required><br><br>
            <option value="Ninguno">Ninguno</option>
            <option value="Madre">Madre</option>
            <option value="Padre">Padre</option>
            <option value="Abuela materna">Abuela materna</option>
            <option value="Abuelo materno">Abuelo materno</option>
            <option value="Abuela paterna">Abuela paterna</option>
            <option value="Abuelo paterno">Abuelo paterno</option>
        </select>
        <input type="text" id="tipo_cardiopatias" name="tipo_cardiopatias" ><br><br>
<br><br>
</div>
<div class="checkbox-container-container7"> 
        <label for="litiasis_familiar">Familiar con Litiasis:</label>
       <div class="checkbox-container">
    <div class="checkbox-column">
        <input type="checkbox" id="ninguno" name="litiasis_familiar" value="Ninguno" checked>
        <label for="ninguno">Ninguno</label><br>
        
        <input type="checkbox" id="madre" name="litiasis_familiar" value="Madre">
        <label for="madre">Madre</label><br>
        
        <input type="checkbox" id="padre" name="litiasis_familiar" value="Padre">
        <label for="padre">Padre</label><br>
    </div>
    <div class="checkbox-column">
        <input type="checkbox" id="abuela_materna" name="litiasis_familiar" value="Abuela materna">
        <label for="abuela_materna">Abuela materna</label><br>
        
        <input type="checkbox" id="abuelo_materno" name="litiasis_familiar" value="Abuelo materno">
        <label for="abuelo_materno">Abuelo materno</label><br>
        
        <input type="checkbox" id="abuela_paterna" name="litiasis_familiar" value="Abuela paterna">
        <label for="abuela_paterna">Abuela paterna</label><br>
        
        <input type="checkbox" id="abuelo_paterno" name="litiasis_familiar" value="Abuelo paterno">
        <label for="abuelo_paterno">Abuelo paterno</label><br>
    </div>
</div>
</div>
<div class="checkbox-container-container8">
        <label for="artritis_familiar">Familiar con Artritis:</label>
        <div class="checkbox-container">
            <div class="checkbox-column">
                <input type="checkbox" id="ninguno" name="artritis_familiar" value="Ninguno" checked>
                <label for="ninguno">Ninguno</label><br>
                
                <input type="checkbox" id="madre" name="artritis_familiar" value="Madre">
                <label for="madre">Madre</label><br>
                
                <input type="checkbox" id="padre" name="artritis_familiar" value="Padre">
                <label for="padre">Padre</label><br>
            </div>
            <div class="checkbox-column">
                <input type="checkbox" id="abuela_materna" name="artritis_familiar" value="Abuela materna">
                <label for="abuela_materna">Abuela materna</label><br>
                
                <input type="checkbox" id="abuelo_materno" name="artritis_familiar" value="Abuelo materno">
                <label for="abuelo_materno">Abuelo materno</label><br>
                
                <input type="checkbox" id="abuela_paterna" name="artritis_familiar" value="Abuela paterna">
                <label for="abuela_paterna">Abuela paterna</label><br>
                
                <input type="checkbox" id="abuelo_paterno" name="artritis_familiar" value="Abuelo paterno">
                <label for="abuelo_paterno">Abuelo paterno</label><br>
            </div>
        </div>       </div>
        <div class="checkbox-container-container9">
        <label for="asma_familiar">Familiar con Asma:</label>
        <div class="checkbox-container">
            <div class="checkbox-column">
                <input type="checkbox" id="ninguno" name="asma_familiar" value="Ninguno" checked>
                <label for="ninguno">Ninguno</label><br>
                
                <input type="checkbox" id="madre" name="asma_familiar" value="Madre">
                <label for="madre">Madre</label><br>
                
                <input type="checkbox" id="padre" name="asma_familiar" value="Padre">
                <label for="padre">Padre</label><br>
            </div>
            <div class="checkbox-column">
                <input type="checkbox" id="abuela_materna" name="asma_familiar" value="Abuela materna">
                <label for="abuela_materna">Abuela materna</label><br>
                
                <input type="checkbox" id="abuelo_materno" name="asma_familiar" value="Abuelo materno">
                <label for="abuelo_materno">Abuelo materno</label><br>
                
                <input type="checkbox" id="abuela_paterna" name="asma_familiar" value="Abuela paterna">
                <label for="abuela_paterna">Abuela paterna</label><br>
                
                <input type="checkbox" id="abuelo_paterno" name="asma_familiar" value="Abuelo paterno">
                <label for="abuelo_paterno">Abuelo paterno</label><br>
            </div>
        </div>
    </div>
        <label for="otras">Familiar con otras condiciones:</label>
        <input type="text" id="otras" name="otras"><br><br>
    
                <button type="submit">Guardar</button>
            </fieldset>
        </div>
    </form>
    
 </fieldset>
</div>
        </body>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                const containers = document.querySelectorAll('.checkbox-container-container1, .checkbox-container-container2, .checkbox-container-container3, .checkbox-container-container4, .checkbox-container-container5, .checkbox-container-container6, .checkbox-container-container7, .checkbox-container-container8, .checkbox-container-container9, .checkbox-container-container10, .checkbox-container-container11');
        
                containers.forEach(container => {
                    const checkboxes = container.querySelectorAll('input[type="checkbox"]');
                    checkboxes.forEach(checkbox => {
                        checkbox.addEventListener('change', function() {
                            const ningunoCheckbox = container.querySelector('input[value="Ninguno"]');
                            const checkboxName = this.name;
                            const otherCheckboxes = container.querySelectorAll(`input[type="checkbox"][name="${checkboxName}"]:not(#ninguno)`);
        
                            if (this.id === "ninguno" && this.checked) {
                                otherCheckboxes.forEach(otherCheckbox => {
                                    otherCheckbox.checked = false;
                                });
                            } else if (this.checked) {
                                ningunoCheckbox.checked = false;
                            }
                        });
        
                        checkbox.addEventListener('click', function(event) {
                            // Prevenir la propagación del evento al hacer clic en el label
                            event.stopPropagation();
                        });
                    });
                });
            });
        </script>
        
        
        </html>
        