<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Antecedentes Familiares</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="static\css\Imagen\_44109a07-adb5-4db9-90c0-8bac1621533a-removebg-preview.png">

</head>
<body>
      <div class="navbar">
        <a href="/">Inicio</a>
        <a href="/registro">Registro</a>
        <a href="/consultar">Registro de consultas</a>
        <a href="/options">Calendario</a>
        <a href="/agendar_cita">Agendar Cita</a>
        <a href="/historial_citas">Historial de Citas</a>
        <a href="/directorio_pacientes">Directorio Pacientes</a>
        <a href="/expediente">Expediente</a>
        </div>
    <h1>Registro de Antecedentes Familiares</h1>
    <form method="POST" action="/registro_antecedentes_familiares">
        <div class="container1">
            <fieldset>
                <legend>Antecedentes Familiares</legend>
                <label for="id_paciente">Selecciona un paciente:</label>
                <input type="text" id="id_paciente" name="id_paciente" list="pacientes_list" required>
                <datalist id="pacientes_list">
                    {% for paciente in pacientes %}
                    <option value="{{ paciente[0] }}">{{ paciente[1] }} {{ paciente[2] }} {{ paciente[3] }}</option>
                    {% endfor %}
                </datalist><br><br>
                <label>
              
        <label for="diabetes_mellitus_familiar">Familiar con Diabetes mellitus:</label>
        <select id="diabetes_mellitus_familiar" name="diabetes_mellitus_familiar" required><br><br>
            <option value="Ninguno">Ninguno</option>
            <option value="Madre">Madre</option>
            <option value="Padre">Padre</option>
            <option value="Hermana/o ">Hermana/o </option>
            <option value="Abuela materna">Abuela materna</option>
            <option value="Abuelo materno">Abuelo materno</option>
            <option value="Abuela paterna">Abuela paterna</option>
            <option value="Abuelo paterno">Abuelo paterno</option>
+           <option value="Tío/a materno">Tío/a materno</option>
            <option value="Tío/a  paterna">Tío/a paterna</option>
            <option value="Prima/o materno">Prima/o materno</option>
            <option value="Prima/o paterna">Prima/o paterna</option>
        </select>
<br><br>
        
        <label for="dislipidemias_con_familiar">Familiar con Dislipidemias:</label>
        <select id="dislipidemias_con_familiar" name="dislipidemias_con_familiar" required><br><br>
            <option value="Ninguno">Ninguno</option>
            <option value="Madre">Madre</option>
            <option value="Padre">Padre</option>
            <option value="Hermana/o ">Hermana/o </option>
            <option value="Abuela materna">Abuela materna</option>
            <option value="Abuelo materno">Abuelo materno</option>
            <option value="Abuela paterna">Abuela paterna</option>
            <option value="Abuelo paterno">Abuelo paterno</option>
+           <option value="Tío/a materno">Tío/a materno</option>
            <option value="Tío/a  paterna">Tío/a paterna</option>
            <option value="Prima/o materno">Prima/o materno</option>
            <option value="Prima/o paterna">Prima/o paterna</option>
        </select>
        <input type="text" id="tipo_dislipidemias" name="tipo_dislipidemias" ><br><br>
        <br><br>
        <label for="sobrepeso_obesidad_familiar">Familiar con  Sobrepeso/obesidad:</label>
        <select id="sobrepeso_obesidad_familiar" name="sobrepeso_obesidad_familiar" required><br><br>
            <option value="Ninguno">Ninguno</option>
            <option value="Madre">Madre</option>
            <option value="Padre">Padre</option>
            <option value="Hermana/o ">Hermana/o </option>
            <option value="Abuela materna">Abuela materna</option>
            <option value="Abuelo materno">Abuelo materno</option>
            <option value="Abuela paterna">Abuela paterna</option>
            <option value="Abuelo paterno">Abuelo paterno</option>
+           <option value="Tío/a materno">Tío/a materno</option>
            <option value="Tío/a  paterna">Tío/a paterna</option>
            <option value="Prima/o materno">Prima/o materno</option>
            <option value="Prima/o paterna">Prima/o paterna</option>
        </select><br><br>

        <label for="cancer_familiar">Familiar con Cáncer:</label>
        <select id="cancer_familiar"name="cancer_familiar" required><br><br>
            <option value="Ninguno">Ninguno</option>
            <option value="Madre">Madre</option>
            <option value="Padre">Padre</option>
            <option value="Hermana/o ">Hermana/o </option>
            <option value="Abuela materna">Abuela materna</option>
            <option value="Abuelo materno">Abuelo materno</option>
            <option value="Abuela paterna">Abuela paterna</option>
            <option value="Abuelo paterno">Abuelo paterno</option>
+           <option value="Tío/a materno">Tío/a materno</option>
            <option value="Tío/a  paterna">Tío/a paterna</option>
            <option value="Prima/o materno">Prima/o materno</option>
            <option value="Prima/o paterna">Prima/o paterna</option>
        </select>
                <input type="text" id="Tipo_cancer" name="tipo_cancer" placeholder="tipo_cancer">
<br><br>
        <label for="hipertension_familiar">Familiar con Hipertensión:</label>
        <select id="hipertension_familiar" name="hipertension_familiar" required><br><br>
            <option value="Ninguno">Ninguno</option>
            <option value="Madre">Madre</option>
            <option value="Padre">Padre</option>
            <option value="Hermana/o ">Hermana/o </option>
            <option value="Abuela materna">Abuela materna</option>
            <option value="Abuelo materno">Abuelo materno</option>
            <option value="Abuela paterna">Abuela paterna</option>
            <option value="Abuelo paterno">Abuelo paterno</option>
+           <option value="Tío/a materno">Tío/a materno</option>
            <option value="Tío/a  paterna">Tío/a paterna</option>
            <option value="Prima/o materno">Prima/o materno</option>
            <option value="Prima/o paterna">Prima/o paterna</option>
        </select><br><br>
        <label for="familiar_con_cardiopatias">Familiar con Cardiopatías:</label>
        <select id="familiar_con_cardiopatias" name="familiar_con_cardiopatias" required><br><br>
            <option value="Ninguno">Ninguno</option>
            <option value="Madre">Madre</option>
            <option value="Padre">Padre</option>
            <option value="Hermana/o ">Hermana/o </option>
            <option value="Abuela materna">Abuela materna</option>
            <option value="Abuelo materno">Abuelo materno</option>
            <option value="Abuela paterna">Abuela paterna</option>
            <option value="Abuelo paterno">Abuelo paterno</option>
+           <option value="Tío/a materno">Tío/a materno</option>
            <option value="Tío/a  paterna">Tío/a paterna</option>
            <option value="Prima/o materno">Prima/o materno</option>
            <option value="Prima/o paterna">Prima/o paterna</option>
        </select>
        <input type="text" id="tipo_cardiopatias" name="tipo_cardiopatias" ><br><br>
<br><br>
        
        <label for="litiasis_familiar">Familiar con Litiasis:</label>
        <select id="litiasis_familiar" name="litiasis_familiar" required><br><br>
            <option value="Ninguno">Ninguno</option>
            <option value="Madre">Madre</option>
            <option value="Padre">Padre</option>
            <option value="Hermana/o ">Hermana/o </option>
            <option value="Abuela materna">Abuela materna</option>
            <option value="Abuelo materno">Abuelo materno</option>
            <option value="Abuela paterna">Abuela paterna</option>
            <option value="Abuelo paterno">Abuelo paterno</option>
+           <option value="Tío/a materno">Tío/a materno</option>
            <option value="Tío/a  paterna">Tío/a paterna</option>
            <option value="Prima/o materno">Prima/o materno</option>
            <option value="Prima/o paterna">Prima/o paterna</option>
        </select><br><br>
        <label for="artritis_familiar">Familiar con Artritis:</label>
         <select id="artritis_familiar" name="artritis_familiar" required><br><br>
            <option value="Ninguno">Ninguno</option>
            <option value="Madre">Madre</option>
            <option value="Padre">Padre</option>
            <option value="Hermana/o ">Hermana/o </option>
            <option value="Abuela materna">Abuela materna</option>
            <option value="Abuelo materno">Abuelo materno</option>
            <option value="Abuela paterna">Abuela paterna</option>
            <option value="Abuelo paterno">Abuelo paterno</option>
+           <option value="Tío/a materno">Tío/a materno</option>
            <option value="Tío/a  paterna">Tío/a paterna</option>
            <option value="Prima/o materno">Prima/o materno</option>
            <option value="Prima/o paterna">Prima/o paterna</option>
        </select><br><br>
        <label for="asma_familiar">Familiar con Asma:</label>
          <select id="asma_familiar" name="asma_familiar" required><br><br>
            <option value="Ninguno">Ninguno</option>
            <option value="Madre">Madre</option>
            <option value="Padre">Padre</option>
            <option value="Hermana/o ">Hermana/o </option>
            <option value="Abuela materna">Abuela materna</option>
            <option value="Abuelo materno">Abuelo materno</option>
            <option value="Abuela paterna">Abuela paterna</option>
            <option value="Abuelo paterno">Abuelo paterno</option>
+           <option value="Tío/a materno">Tío/a materno</option>
            <option value="Tío/a  paterna">Tío/a paterna</option>
            <option value="Prima/o materno">Prima/o materno</option>
            <option value="Prima/o paterna">Prima/o paterna</option>
        </select><br><br>
        <label for="otras">Familiar con otras condiciones:</label>
        <input type="text" id="otras" name="otras"><br><br>
    
                <button type="submit">Guardar</button>
            </fieldset>
        </div>
    </form>
    
        </fieldset>
</div>
        </body>

        </html>
        