<html>
<head>
    <title>Registro Exitoso</title>
</head>
<style>
    body {
            background-image: url('https://img.freepik.com/vector-gratis/fondo-frutas-verduras_23-2148485148.jpg?w=740&t=st=1713248651~exp=1713249251~hmac=30e168e9f2d449c4894d64a9e7ff69ce1449d8aca24ba3c0d846298490ca6041');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
        }
        </style>
<body>
    <h1>¡Registro Exitoso!</h1>
    <p>El paciente se ha registrado correctamente con el siguiente ID:</p>
    <p><strong>ID del Paciente:</strong> {{ id_paciente }}</p>
    <p><strong>Nombre del Paciente:</strong> {{ nombre_paciente }}</p>
    
    <p>¿Qué deseas hacer ahora?</p>
    <a href="/registro">Volver al Registro</a>
    <a href="/templates/consulta_paciente.html">Consultar Paciente</a>
</body>
</html>
