<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="static\css\Imagen\_44109a07-adb5-4db9-90c0-8bac1621533a-removebg-preview.png">

    <title>Registro de Antecedentes No Familiares</title>

</head>
<body>
      <div class="navbar">
        <a href="/">Inicio</a>
        <a href="/registro">Registro</a>
        <a href="/consultar">Registro de consultas</a>
        <a href="/options">Calendario</a>
        <a href="/agendar_cita">Agendar Cita</a>
        <a href="/historial_citas">Historial de Citas</a>
        <a href="/directorio_pacientes">Directorio Pacientes</a>
        <a href="/expediente">Expediente</a>
        </div>
<head>
<title>Antecedentes No Familiares</title>
</head>
<div class="container1">
<fieldset>
    <body>
    <h1>Antecedentes No Familiares</h1>
    <form action="/registro_antecedentes_nofamiliares" method="POST">
        <label for="Antecedentes">Tiene Antecedentes Patológicos? </label>
        <label><input type="radio" name="Antecedentes" value="ninguno" required> Ninguno
            <input type="radio" name="Antecedentes" value="Si" required> Si</label><br><br>
    
            <table>
                <tr>
                  <td><label for="padecimiento">Padecimiento Actual:</label></td>
                  <td><input type="text" id="padecimiento" name="padecimiento"></td>
                </tr>
                <tr>
                  <td><label for="tiempo_diagnostico">Tiempo de diagnóstico (en años):</label></td>
                  <td><input type="number" id="tiempo_diagnostico" name="tiempo_diagnostico"></td>
                </tr>
              </table>

        <label for="otras_enfermedades">Otras enfermedades y tiempo de diagnóstico:</label>
        <textarea id="otras_enfermedades" name="otras_enfermedades"></textarea><br><br>
    
        <label for="medicamentos">Medicamentos:</label>
        <textarea id="medicamentos" name="medicamentos"></textarea><br><br>
    
        <div id="discapacidad">
            <label>¿Tiene alguna discapacidad?</label>
            <input type="radio" id="si_discapacidad" name="discapacidad" value="si"> Sí
            <input type="radio" id="no_discapacidad" name="discapacidad" value="no"> No
            <label for="especificar_discapacidad">Especifique cuál:</label>
            <input type="text" id="especificar_discapacidad" name="especificar_discapacidad"><br><br>
        </div>
    
        <div id="cirugias">
            <label>Cirugías</label>
            <input type="radio" id="si_cirugias" name="cirugias" value="si"> Sí
            <input type="radio" id="no_cirugias" name="cirugias" value="no"> No
            <label for="cuales_cirugias">¿Cuál?:</label>
            <input type="text" id="cuales_cirugias" name="cuales_cirugias"><br><br>
        </div>
    
        <div id="alergias">
            <label>Alergias</label>
            <input type="radio" id="si_alergias" name="alergias" value="si"> Sí
            <input type="radio" id="no_alergias" name="alergias" value="no"> No
            <label for="cuales_alergias">¿Cuál?:</label>
            <input type="text" id="cuales_alergias" name="cuales_alergias"><br><br>
        </div>
    
        <!-- Más campos se pueden agregar con un botón -->
        <button type="button" onclick="agregarCampo()">Agregar Campo</button>
    
        <h2>FACTORES DIGESTIVOS</h2>
        <!-- Campos de factores digestivos -->
    
        <label for="antecedentes_no_patologicos">Antecedentes Personales No Patológicos:</label><br>
        <input type="checkbox" id="consumo_alcohol" name="consumo_alcohol" value="consumo_alcohol">
        <label for="consumo_alcohol">Consumo Alcohol</label><br>
    
        <input type="checkbox" id="tabaco" name="tabaco" value="tabaco">
        <label for="tabaco">Tabaco</label><br>
    
        <input type="checkbox" id="suplementos" name="suplementos" value="suplementos">
        <label for="suplementos">Suplementos</label><br><br>
    
        <input type="checkbox" id="cafeina" name="cafeina" value="cafeina">
        <label for="cafeina">Cafeína</label>
    
        <label for="observaciones">Observaciones:</label>
        <textarea id="observaciones" name="observaciones"></textarea><br><br>
    
        <input type="submit" value="Guardar">
    </form>
            </fieldset>

    <script>
        function agregarCampo() {
            // Código para agregar más campos dinámicamente
            // Por ejemplo:
            const div = document.createElement('div');
            div.innerHTML = `
                <label>Otra cirugia</label>
                <input type="text" name=cirugias"><br><br>
            `;
            document.getElementById('cirugias').appendChild(div);
        }
    </script>
    </div>

            </body>
            </html>